.formContato{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    height: 250px;
    border: 2px solid var(--color-border);
    border-radius: 20px;
    padding: 10px;
}

.formChatText{
    height: 100%;
}

.menssagen{
    height: calc(100% - 40px);
    overflow: auto;
}

.menssagen::-webkit-scrollbar{
    width: 8px;
}

.menssagen::-webkit-scrollbar-track{
    background: transparent;
}

.menssagen::-webkit-scrollbar-thumb{
    background-color: var(--color-border);
    border-radius: 10px;
}

.menssagemClient{
    width: 50%;
    background-color: #ffffffcb;
    color: #000;
    padding: 10px;
    float: right;
    clear: both;
    border-radius: 20px 0 20px 20px;
    margin: 5px 0;
}

.menssagemSistema{
    width: 50%;
    background-color: #ffffffcb;
    color: #000;
    padding: 10px;
    float: left;
    clear: both;
    border-radius: 0 20px 20px 20px;
    margin: 5px 0;
}

.inputForm{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputForm input{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-border);
    padding: 2px 5px;
    background-color: #fff;
    height: 30px;
    border-radius: 10px;
    color: #000;
}

.inputForm input:hover{
    cursor: var(--cursorText);
}

.inputForm button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CadConf{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}