@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
}

:root{
    --background-principal: #111111;
    --background-secundario: #313131;
    --font-principal: "Josefin Sans", sans-serif;
    --font-secundaria: "Josefin Slab", serif;
    --font-page-portfolio: "Anek Tamil", sans-serif;
    --cor-fonte-secundaria: #ADF0D4;
    --cor-fonte-opacity: #B4B4B4;   
    --linear-gradient-titulo:  linear-gradient(90deg, #FFFFFF, #999999 10%);
    --color-border: #999999;
    --cursorClick: url('../assets/mouseclick.svg'), auto;
    --cursorText: url('../assets/mousetext.svg'), auto;
}

html{
    background-color: var(--background-principal);
}

body{
    background-color: var(--background-principal);
    font-family: var(--font-principal);
    max-width: 2400px;
    margin: 0 auto;
}

.terminalPortfolio{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

/* TOPO */

.topo{
    width: 100%;
    height: 100vh;
    padding: 20px 60px;
    position: relative;
}

.topoFlex{
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.logo{
    display: block !important;
}

.logo img{
    width: 150px !important;
}

.navBarTopo{
    margin-right: 140px;
}

.navBarTopo ul li{
    transition: 200ms;
    height: 30px;
    cursor: var(--cursorClick);
}

.navBarTopo ul li a{
    font-size: 1.3rem;
}

.navBarTopo ul li:hover{
    transform: translate(0px, 0.4444rem) skew(0deg, 10deg);
    cursor: var(--cursorClick);
}

.navBarTopo ul li a:hover{
    cursor: var(--cursorClick);
}

.nomeTopo{
    background-image: var(--linear-gradient-titulo);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
}

.tituloEnd{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: 1.5s startTitulo ;
}

.tituloEnd1{
    font-size: clamp(.5rem, 10vw, 8rem);
    font-family: var(--font-secundaria);
    animation: 1.5s startTitulo ease-in-out;
}

@keyframes startTitulo {
    0%{
        opacity: 0;
        left: -300px;
    }

    100%{
        opacity: 1;
        margin-right: 0;
    }
}

/* MAIN */

.conteudo{
    width: 100%;
}

.tituloEnd2{
    width: 100%;
    text-align: right;
    font-size: clamp(.5rem, 10vw, 8rem);
    font-family: var(--font-secundaria);
    color: var(--cor-fonte-secundaria);
}

.lineConteudo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--font-secundaria);
}

.lineConteudo div{
    width: 100%;
    height: 3px;
    background-color: var(--cor-fonte-secundaria);
}

/* APRESENTACAO */

.apresentacao{
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgApresentacao img{
    max-width: 400px;
    width: 100%;
}

.sobreApresentacao{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 0 60px;
    gap: 30px;
}

.sobreApresentacao p{
    color: var(--cor-fonte-opacity);
    font-size: clamp(.6rem, 1rem, 1.3rem);
}

.sobreApresentacao span{
    color: var(--cor-fonte-secundaria);
}

.sobreApresentacao a{
    font-size: 1.6rem;
}

/* APRESENTACAO 2 */

.apresentacao2{
    width: 100%;
}

.apresentacao2 div{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.apresentacao2 div p{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.4rem;
}

.apresentacao2 div img{
    width: 30%;
}

.apresentacao2 div h1{
    position: absolute;
    bottom: 0;
    font-size: clamp(.5rem, 10vw, 10vw);
    color: transparent;
    -webkit-text-stroke: 5px #fff;
}

.div2apresentacao{
    justify-content: right;
}

.div2apresentacao h1{
    top: 0;
}

/* PORTFOLIO */

.portfolio{
    width: 100%;
    padding: 30px;
    font-family: var(--font-secundaria);
}

.topoApresPortfolio{
    display: flex;
    gap: 40px;
    height: 150px;
}

.numPortfolio{
    min-width: 25%;
    width: 25%;
    border-top: 2px solid var(--color-border);
    padding: 10px;
    position: relative;
}

.numPortfolio p{
    position: absolute;
    bottom: 10px;
    font-size: clamp(.8rem, 1.2rem, 1.5rem);
}

.numPortfolio h1{
    font-size: clamp(1rem, 2rem, 2.5rem);
}

.tituloPortfolio{
    width: 100%;
    border-top: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 200ms;
}

.tituloPortfolio:hover{
    padding: 60px;
}

.tituloPortfolio h1{
    font-size: clamp(2rem, 3rem, 4rem);
}

/* CONTATO */

.contato{
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.cardContato{
    max-width: 400px;
    width: 100%;
    height: 240px;
    perspective: 1000px;
}

.card-front img,
.card-back img{
    width: 100%;
}

.card-front,
.card-back{
   position: absolute;
   backface-visibility: hidden;
   cursor: pointer;
}

.flipper{
    width: 100%;
    transition: .8s;
    transform-style: preserve-3d;
    position: relative;
}

.cardContato:hover .flipper{
    transform: rotateY(180deg);
}

.card-back{
    transform: rotateY(180deg);
}

/* RODAPE */

.rodape{
    width: 100%;
    display: flex;
    height: 300px;
    border-top: 2px solid var(--color-border);
    justify-content: space-between;
    flex-wrap: wrap;
}

.rodape > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}

.infoDireitos{
    opacity: .5;
}

.infoCarreira{
    max-width: 600px;
    width: 100%;
    margin: 0 3vw;
}

.rodape nav{
    padding: 20px;
}

/* RESPONSIVO */

@media (max-width: 1100px) {
    .portfolio > div{
        border: 2px solid var(--color-border);
    }

    .topoApresPortfolio{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .numPortfolio p{
        position: initial;
        bottom: 10px;
        font-size: clamp(.8rem, 1.2rem, 1.5rem);
    }

    .tituloPortfolio{
        border: none;
    }

    .tituloPortfolio h1{
        font-size: 5vw;
    }

    .topoApresPortfolio{
        gap: 0;
    }

    .numPortfolio{
        border: none;
    }

    .apresentacao2 div p{
        font-size: .7rem;
    }

    .apresentacao2 div h1{
        -webkit-text-stroke: 1px #fff;
    }
}